In [51]:
# Import Dependencies
import requests
import json
from bs4 import BeautifulSoup
import time
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd
from pandas import to_datetime

In [104]:
# Read CSV File
filt_data_df = pd.read_csv("tables/main_table1.csv")
filt_data_df

,Unnamed: 0,title,rating,description,language,isbn,genres,pages,publishDate,publisher,numRatings,ratingsByStars,likedPercent,main author
0,0,The Hunger Games,4.33,WINNING MEANS FAME AND FORTUNE.LOSING MEANS CE...,English,9780439023481,"['Young Adult', 'Fiction', 'Dystopia', 'Fantas...",374,09/14/08,Scholastic Press,6376780,"['3444695', '1921313', '745221', '171994', '93...",96.0,Suzanne Collins
1,1,Harry Potter and the Order of the Phoenix,4.50,There is a door at the end of a silent corrido...,English,9780439358071,"['Fantasy', 'Young Adult', 'Fiction', 'Magic',...",870,09/28/04,Scholastic Inc.,2507623,"['1593642', '637516', '222366', '39573', '14526']",98.0,J.K. Rowling
2,2,Twilight,3.60,About three things I was absolutely positive.\...,English,9780316015844,"['Young Adult', 'Fantasy', 'Romance', 'Vampire...",501,09/06/06,"Little, Brown and Company",4964519,"['1751460', '1113682', '1008686', '542017', '5...",78.0,Stephenie Meyer
3,3,The Book Thief,4.37,Librarian's note: An alternate cover edition c...,English,9780375831003,"['Historical Fiction', 'Fiction', 'Young Adult...",552,03/14/06,Alfred A. Knopf,1834276,"['1048230', '524674', '186297', '48864', '26211']",96.0,Markus Zusak
4,4,Animal Farm,3.95,Librarian's note: There is an Alternate Cover ...,English,9780451526342,"['Classics', 'Fiction', 'Dystopia', 'Fantasy',...",141,04/28/96,Signet Classics,2740713,"['986764', '958699', '545475', '165093', '84682']",91.0,George Orwell
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35682,35682,Unbelievable,4.16,Lilah Lopez Dreser's in town to take care of u...,English,9781477594247,"['Romance', 'Young Adult', 'Contemporary', 'Co...",360,April 11th 2013,Wordpaintings Unlimited,1028,"['442', '384', '142', '48', '12']",94.0,Sherry Gammon
35683,35683,Fractured,4.00,The Fateful Trilogy continues with Fractured. ...,English,2940012616562,"['Vampires', 'Paranormal', 'Young Adult', 'Rom...",0,May 28th 2011,Cheri Schmidt,871,"['311', '310', '197', '42', '11']",94.0,Cheri Schmidt
35684,35684,Marked,3.70,--READERS FAVORITE AWARDS WINNER 2011--Sixteen...,English,9781461017097,"['Fantasy', 'Young Adult', 'Paranormal', 'Ange...",280,March 18th 2011,CreateSpace,6674,"['2109', '1868', '1660', '647', '390']",84.0,Kim Richardson
35685,35685,Wayward Son,3.85,A POWERFUL TREMOR UNEARTHS AN ANCIENT SECRETBu...,English,9781450755634,"['Fiction', 'Mystery', 'Historical Fiction', '...",507,September 1st 2011,Cascada Productions,238,"['77', '78', '59', '19', '5']",90.0,Tom Pollack
35686,35686,Daughter of Helaman,4.02,Fighting in Helaman's army is Keturah's deepes...,English,9781599554976,"['Lds Fiction', 'Historical Fiction', 'Young A...",201,May 8th 2011,Bonneville,246,"['106', '73', '42', '17', '8']",90.0,Misty Moncur

In [ ]:
filt_data_df['publishDate'].value_counts

In [ ]:
# Cleaned the published date column to bring all dates to one format
filt_data_df["publishedDate"]= pd.to_datetime(filt_data_df['publishDate'],errors = 'coerce')
filt_data_df

In [ ]:
filt_data_df=filt_data_df.dropna()

In [ ]:
filt_data_df['yearPublished'] = pd.DatetimeIndex(filt_data_df['publishedDate']).year
filt_data_df

In [ ]:
# Dropped irregular date format column after cleaning
filt_data_df.drop(columns="publishDate")

In [ ]:
# Saving dataframe as csv
filt_data_df.to_csv("tables/year.csv", index= False)

In [ ]:
# Filtering the data for latest 5 yrs
filt_data_df.sort_values(by="yearPublished", ascending=False)

In [ ]:
#df = df[(df['closing_price'] >= 99) & (df['closing_price'] <= 101)]
filt_data_df=filt_data_df[(filt_data_df['yearPublished']>=2011)&(filt_data_df['yearPublished']<=2020)].reset_index(inplace=False)

In [47]:
filt_data_df.count()

title             11868
rating            11868
description       11868
language          11868
isbn              11868
genres            11868
pages             11868
publishDate       11868
publisher         11868
numRatings        11868
ratingsByStars    11868
likedPercent      11868
main author       11868
publishedDate     11868
yearPublished     11868
dtype: int64

In [ ]:
filt_data_df = filt_data_df.drop(columns=["index","Unnamed: 0"])

In [46]:
# Saving dataframe as csv
filt_data_df.to_csv("tables/main_table.csv", index= False)

In [92]:
# Make list of authors
author_list = filt_data_df['main author'].tolist()
author_list1 = author_list[:3084]
author_list2 = author_list[3084:5484]
author_list3 = author_list[5485:7245]
author_list4 = author_list[7564:10633]
author_list5 = author_list[10633:11573]
author_list6 = author_list[7245:7564]
author_list7 = author_list[11573:]


len(author_list7)

295

In [93]:
# Base url
base_url = "https://en.wikipedia.org/wiki/"
author_dict = {}
for author_name in author_list7:
    # create url along with author name
    url = base_url + author_name
    # Retrieve page with the requests module
    response = requests.get(url)
    try:
    # Create BeautifulSoup object; parse with 'html.parser'
        soup = BeautifulSoup(response.text, 'html.parser')
        author_dict[author_name]= soup.find('span', class_="bday").text
    except AttributeError:
        author_dict[author_name]= "none"

   
   
author_dict

{'Laurann Dohner': 'none',
 'Colum McCann ': '1965-02-28',
 'Ed Brubaker ': '1966-11-17',
 'Jane Lythell ': 'none',
 'Chuck Dixon ': '1954-04-14',
 'Lucy Monroe ': '1906-10-23',
 'Toni Aleo ': 'none',
 'Sam Angus ': 'none',
 'Nancy Guthrie ': '1952-06-15',
 'Jacob Grimm': '1785-01-04',
 'Ruth Axtell ': 'none',
 'Allan Frewin Jones': '1954-04-30',
 'S.T. Boston ': 'none',
 'Gemma James ': 'none',
 'Kristen Iversen ': 'none',
 'Adele Parks ': 'none',
 'Rowan Coleman ': 'none',
 'Pepper Winters ': 'none',
 'Neal Asher ': '1961-02-04',
 'Judith Rossell ': 'none',
 'Lynda Cohen Loigman ': 'none',
 'George R.R. Martin': '1948-09-20',
 'Hope Larson ': 'none',
 'Cora Brent ': 'none',
 'Jon Krakauer ': '1954-04-12',
 'Andrea Bobotis ': 'none',
 'Liz Curtis Higgs ': 'none',
 'J.D. Hughes ': 'none',
 'Anita Stansfield': 'none',
 'Meg Howrey': 'none',
 'Madeleine Wickham': '1970-12-12',
 'Anna Funder': 'none',
 'Jess Epps ': 'none',
 'Bella Forrest ': 'none',
 'Eve Hathaway': 'none',
 'Ava Miles ': 'none',
 'John Dominic Crossan': '1934-02-17',
 'Leonard Cohen': '1934-09-21',
 'Sue Grafton': '1940-04-24',
 'Elizabeth Harrower': 'none',
 'Rob Nixon': 'none',
 'Rudolph Herzog': 'none',
 'Sophie Cleverly ': 'none',
 'Ania Ahlborn ': 'none',
 'Ouida': '1839-01-01',
 'Terryl L. Givens': 'none',
 'Sharon Lathan ': 'none',
 'Nina George ': '1973-08-30',
 'Mike Gunton': 'none',
 'Lisa Tawn Bergren ': 'none',
 'Katie Ruggle ': 'none',
 'Alexandra Zapruder': 'none',
 'Laura Lee Gulledge ': 'none',
 'Gail Carriger ': '1976-05-04',
 'Jen Turano ': 'none',
 'Lynsay Sands ': 'none',
 'Julie Murphy ': 'none',
 'Thomas Sowell': '1930-06-30',
 'G.B. Hope ': 'none',
 'Matt McCarthy ': 'none',
 'Kayla Rae Whitaker ': 'none',
 'Elizabeth Camden ': 'none',
 'Julia Quinn ': 'none',
 'T.S. Joyce ': 'none',
 'Jon Young': 'none',
 'Lacey Thorn ': 'none',
 'Shel Silverstein': '1930-09-25',
 'Joy Preble ': 'none',
 'Jonathan Coe ': '1961-08-19',
 'Jennifer McMahon ': 'none',
 'C. Michaels ': 'none',
 'Kitty Thomas ': 'none',
 'Nicholas Shaxson': 'none',
 'Clare Wright': '1969-05-14',
 'Nancy Butcher': 'none',
 'Kate Brown': '1960-06-21',
 'Louise Candlish ': 'none',
 'Aline Ohanesian ': 'none',
 'John Meaney': 'none',
 'Nina Schuyler ': 'none',
 'Kristi Ann Hunter ': 'none',
 'Caitlyn Duffy ': 'none',
 'James R. White': 'none',
 'Charlene Hartnady ': 'none',
 'Jaida Jones ': 'none',
 'Robin Wasserman ': 'none',
 'Judith Schalansky': '1980-09-20',
 'Benedict Jacka ': '1980-09-25',
 'Jess Kidd ': 'none',
 'Timothy Tocher': 'none',
 'Jodi Lynn Anderson ': 'none',
 'Leonardo Ramirez': 'none',
 'Rosemarie Tong': 'none',
 'Kami Garcia ': '1972-03-25',
 'Jane Smiley ': '1949-09-26',
 'Anthony Bourdain': '1956-06-25',
 'Hywel Roberts': 'none',
 'Michael Morpurgo': '1943-10-03',
 'Simon Van Booy ': 'none',
 'Hugh Fearnley-Whittingstall': '1965-01-14',
 'John F. Hanley ': 'none',
 'C.M. Stunich ': 'none',
 'Daisy Whitney': 'none',
 'Janet Lee Carey ': '1954-01-11',
 'Zoya Tessi ': 'none',
 'James P. Blaylock': '1950-09-20',
 'George Takei ': '1937-04-20',
 'Alicia Montgomery ': 'none',
 'Fiona Kidman': '1940-03-26',
 'John Lenahan': 'none',
 'Will Hill ': '1990-03-07',
 'Jennifer Jabaley ': 'none',
 'Pam Godwin ': 'none',
 'Glen Cook': '1944-07-09',
 'James D. Shipman ': 'none',
 'Graham Moore ': 'none',
 'Liza Klaussmann ': 'none',
 'Layla Hagen ': 'none',
 'Jun Mochizuki': 'none',
 'Mark Cotta Vaz': 'none',
 'Ron Burgundy ': 'none',
 'James Lee Burke': '1936-12-05',
 'Jill Alexander Essbaum ': 'none',
 'Penelope Ward ': 'none',
 'J.K. Rowling': '1965-07-31',
 'Bill Parcells': '1941-08-22',
 'Peter Swanson ': '1968-05-26',
 'Craig A. Evans': '1952-01-21',
 'Amanda Milo ': 'none',
 'Elle Marr ': 'none',
 'Martha Wells ': '1964-09-01',
 'William Paul Young': '1955-05-11',
 'Floyd Gottfredson': '1905-05-05',
 'Claire Legrand ': 'none',
 'Brian Staveley ': 'none',
 'R.J. Ellory': 'none',
 'Philip Reeve ': 'none',
 'Ed Yong': '1981-12-17',
 'Faleena Hopkins ': 'none',
 'Sonja Yoerg ': 'none',
 'Cammie McGovern ': 'none',
 'Marisa Silver ': '1960-04-23',
 'Jeanne C. Stein': 'none',
 'Spencer Quinn ': 'none',
 'Amitav Ghosh': '1956-07-11',
 'Kallypso Masters ': 'none',
 'Karina Halle ': 'none',
 'Stuart MacBride': '1969-02-27',
 'Gill Lewis': 'none',
 'Yukio Mishima': '1925-01-14',
 'Jennifer Ashley ': 'none',
 'Sheila Heti': '1976-12-25',
 'Thrity Umrigar': 'none',
 'Michele Sinclair': 'none',
 'Simone Beaudelaire ': 'none',
 'Yana Toboso': '1984-01-24',
 'S.B. Alexander ': 'none',
 'Stanley Wells': 'none',
 'Douglas Jackson': 'none',
 'Karen Rose ': 'none',
 'Jamil Ahmad': 'none',
 'Dennis Lehane ': '1965-08-04',
 'Nicola Griffith ': '1960-09-30',
 'Jon H. Gutmacher ': 'none',
 'Carole Satyamurti': 'none',
 'Rachel Gibson ': 'none',
 'Kristen Callihan ': 'none',
 'Nicole Reed ': 'none',
 'Bernie Morris ': '1890-08-21',
 'Tim Burton': '1958-08-25',
 'Roseanna M. White ': 'none',
 'Maria Popova ': '1984-07-28',
 'Sandra Dallas': 'none',
 'Tina Traverse': 'none',
 'Khalia N. Hades ': 'none',
 'Ada Adams ': 'none',
 'Steve Julien': 'none',
 'Jayne Collier': 'none',
 'Innovative Language': 'none',
 'Sally Field': '1946-11-06',
 'Jessica Barry': 'none',
 'Darrell L. Bock': '1953-12-12',
 'Lynn Kurland': 'none',
 'Nick James ': 'none',
 'Deb Caletti ': '1963-06-16',
 'Nalini Singh ': '1945-09-01',
 'Addison Moore ': 'none',
 'Jonathan Stroud ': '1970-10-27',
 'Aidan Willows ': 'none',
 'Tom Cox': 'none',
 'John Sutherland': 'none',
 'Blake Northcott ': 'none',
 'Sonya Hartnett': 'none',
 'Sharyn McCrumb ': '1948-02-26',
 'Erin Raegan ': 'none',
 'Margaret Cardillo': 'none',
 'Rae Carson': 'none',
 'Lynn Raye Harris ': 'none',
 'Gwendolyn Field ': 'none',
 'Lois McMaster Bujold ': '1949-11-02',
 'L.A. Casey ': 'none',
 'Alberto Moravia': '1907-11-28',
 'Sebastian Brant': 'none',
 'Jeanne St. James ': 'none',
 'Mark D. White ': 'none',
 'Paula Brackston ': 'none',
 'Brandon Graham': '1988-04-03',
 'Serhiy Zhadan': '1974-08-23',
 'Alan Gratz': '1972-01-27',
 'Kate Gordon ': 'none',
 'Diana Rowland ': 'none',
 'Brandon Graham ': '1988-04-03',
 'Kristen Tracy ': 'none',
 'Darynda Jones ': 'none',
 'Naomi Klein': '1970-05-08',
 'Derek Sanderson': '1946-06-16',
 'Erin Hunter': 'none',
 'A. Meredith Walters ': 'none',
 'Talia Vance ': 'none',
 'Ann Wroe': 'none',
 'Barbara Nickless ': 'none',
 'Marissa Meyer ': '1984-02-19',
 'Elizabeth Goudge': '1900-04-24',
 'Paul Melko': 'none',
 'Brenna Yovanoff ': 'none',
 'Stacy Gregg': 'none',
 'Genevieve Cogman ': 'none',
 'Daniel Tammet ': '1979-01-31',
 'Misty Jae Ogert ': 'none',
 'Nagaru Tanigawa': '1970-12-19',
 'Peter Brown': 'none',
 'Sabrina Benulis ': 'none',
 'Charlotte Wood': 'none',
 'R.L. LaFevers ': 'none',
 'DiAnn Mills ': 'none',
 'Kim Richardson ': '1965-12-22',
 'Sherry Gammon ': 'none',
 'Cheri Schmidt ': 'none',
 'Tom Pollack ': 'none',
 'Misty Moncur ': 'none'}

In [94]:
len(author_dict)

240

In [95]:
# Converting dictionary to dataframe
df = pd.DataFrame.from_dict(author_dict, orient ='index')
df

                          0
Laurann Dohner         none
Colum McCann     1965-02-28
Ed Brubaker      1966-11-17
Jane Lythell           none
Chuck Dixon      1954-04-14
...                     ...
Kim Richardson   1965-12-22
Sherry Gammon          none
Cheri Schmidt          none
Tom Pollack            none
Misty Moncur           none

[240 rows x 1 columns]

In [96]:
df.to_csv('author_data/data7.csv', index=True)

In [101]:
df = pd.concat(
    map(pd.read_csv, ['author_data/data1.csv', 'author_data/data2.csv',"author_data/data3.csv","author_data/data4.csv","author_data/data5.csv","author_data/data6.csv","author_data/data7.csv" ]), ignore_index=True)
df = df.rename(columns={'Unnamed: 0': 'Author', '0': 'DOB'})

In [103]:
df.loc[df["DOB"]!="none"]

                    Author         DOB
0           J.R.R. Tolkien  1892-01-03
1             Ray Bradbury  1920-08-22
2           Veronica Roth   1988-08-19
3            Paulo Coelho   1947-08-24
4      Audrey Niffenegger   1963-06-13
...                    ...         ...
11795       Marissa Meyer   1984-02-19
11796     Elizabeth Goudge  1900-04-24
11801       Daniel Tammet   1979-01-31
11803      Nagaru Tanigawa  1970-12-19
11809      Kim Richardson   1965-12-22

[3307 rows x 2 columns]